body {
    background-color: #FFFFF0;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-nav li{
    font-size: 18px;
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 100%;
    margin-top: 20px;
}

.text-muted{
    font-size: 10px;
    text-align: right;
}


    
.media-body p {
    border-left: 5px solid #00FFFF;
    padding-left: 4px;
}

table {
      text-align: center;
      font-size: 20px;
    }
    
.card-body {
    padding: 0.75rem;
}

.post {
    margin-top: 15px;
}
